<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-8">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }}<br>{{ contact.department }}<br>{{ contact.institution }}</p>
        <p>{{ contact.institution_address }}</p>
        <p>Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
        <p>Phone: {{ contact.phone }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
